* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 0% 50%;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  background-color: #000000;
  background-image: url("bbblurry.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Euclid Circular A;
  color: #868b94;
  animation: rotate 5s infinite alternate linear;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.contain-card {
  width: 400px;
  padding: 100px 30px 32px;
  border-radius: 1.25rem;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(26px);
  text-align: center;
}

.contan-card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 6px;
  color: #f9f9f9;
}

.contain-card img {
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-bottom: 20px;
}

.btn-layout{
display: inline-flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 21px 11px 26px;
gap: 10px;

position: absolute;
width: 56 px;
height: 98px;
left: 677px;
top: 392px;

background: #587DFF;
border-radius: 200px;
}

@keyframes spin {
  100% {
    rotate: 1turn;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #ccc9e1;
  border-top-color: #8f44fd;
  opacity: 0;
  animation: spin 1s infinite linear;
}

.spinner.visible {
  opacity: 1;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

